body {
	background: url(https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) no-repeat center center fixed;
    color: white;
    background-size: cover;
	background-position: center center;
	font-family: Lato;
	color: white;
	background-repeat: no-repeat;
	background-attachment: fixed;
  

}

#content {
	text-align: center;
	padding: 25%;
	text-shadow: 2px 2px 10px black;

}

html {
	height: 100%;
}

h1 {

	font-size: 5em;
	font-weight: 700;


}

